

* {
	/*reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	text-align: center;
	padding-top: 30px;
	height: 100px;
	background-color: #B2D6FF;
	font-style: 

}

.sidebar {
	height: 650px;
	background-color: #F09A9D; 
	width: 200px;
	float: left;
	opacity: 0.6;
	/*background-image: url(../images/cof.jpg);
	overflow-x: hidden;
	overflow-y: hidden;*/
}

.content {
	height: 500px;
	background-color: #F5CF8E; 
	width: 650px;
	border-radius: 10px;
	float: left;
	opacity: 0.7;

}




.footer {
	/*height: 200px;*/
	background-color: #D6E9FE; 
	clear: both; /*or left,right*/
	/*border: 5px solid red;*/
}

.page {
	width: 900px;
	margin: 0 auto;
	
}

.clear:after {
	content: ""; /*invisible element*/
	clear: both;
	display: block;
}

.container {
	background-color: pink;
	background-image: url(../images/bg.jpg);
}

.column {
	background-color: #B2D6FF;
	height: 160px;
	width: 31%;
	margin: 20px 1.16%;
	float: left;
	
}

.content {
	padding: 20px;
}

.article-image {
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.avatar {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	background-color: #D6E9FE;
	
}

img {
	height: 100px;
	width: 100px;
}
.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden; /*This is important*/
}

.column {
	border-radius: 20px;
}
